@{
    ViewBag.Title = "Home Page";
}
<h2>lll</h2>
<embed height="50" width="100" src="~/Content/MP3/旭日刚阳-春天里.mp3">

<div class="jumbotron">
    <h2><img src="https://1305779886.github.io/homework43/IconfontAndImg/Iconfont/%E7%A7%91%E6%8A%80.png" height="64" width="64" /> 未来由我们来主宰！</h2>
    <img src="https://1305779886.github.io/homework43/IconfontAndImg/Img/timg.jpg" width="860" height="320" />
    <p >网易云快速通道</p>
    <p><a href="https://music.163.com/" class="btn btn-primary btn-lg">网易云快速链接 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><img src="https://1305779886.github.io/homework43/IconfontAndImg/Iconfont/%E9%BB%91%E8%83%B6%E5%94%B1%E7%89%87%E6%9C%BA.png" height="128" width="128" /> 流派</h2>
        <p>
            流派分类
        </p>
        <p><a class="btn btn-default" href="~/Genres/Index">流派列表 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="https://1305779886.github.io/homework43/IconfontAndImg/Iconfont/%E9%9F%B3%E4%B9%90.png" height="128" width="128" />唱片</h2>
        <p>唱片合集</p>
        <p><a class="btn btn-default" href="~/Albums/Index">唱片列表 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="https://1305779886.github.io/homework43/IconfontAndImg/Iconfont/%E9%9F%B3%E4%B9%90%E7%A3%81%E5%B8%A6.png" height="128" width="128" />歌曲列表（可播放）</h2>
        <p>可播放音乐的列表</p>
        <p><a class="btn btn-default" href="~/Store/Index">歌曲（可播放）列表 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="https://1305779886.github.io/homework43/IconfontAndImg/Iconfont/MP3-MP4.png" height="128" width="128" /> 音乐列表（增删查改）</h2>
        <p>有哪些音乐呢哈哈</p>
        <p><a class="btn btn-default" href="~/LoveMusics/Index">歌曲总列表 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src="https://1305779886.github.io/homework43/IconfontAndImg/Iconfont/%E8%B4%AD%E7%89%A9%E8%BD%A6.png" height="128" width="128" /> 购物车</h2>
        <p>还没做好，那就先挂我自己github吧哈哈</p>
        <p><a class="btn btn-default" href="https://1305779886.github.io/homework43/43bootstrap1/index.html">转到定义 &raquo;</a></p>
    </div>
</div>