div,
h2 {
    margin: 0;
    padding: 0;
}

.mod {
    height: 36px;
    border-bottom: 2px blue solid;
    text-align: left;

}

.mod .title {
    font: 16px/26px "Microsoft YaHei", "SimHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
}

.mod .title span {
    position: relative;
    bottom: -3px;
    float: left;
    height: 36px;
    line-height: 30px;
    color: #333;
    margin-right: 30px;
    cursor: pointer;
}


.mod .title .current,
.title span:hover {
    color: #3983e5;
}

.mod .title .current {
    cursor: default;
}

.mod .title .current i {
    display: inline-block;
}

.mod .title i {
    position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: 3px;
    display: none;
    border-bottom: 6px solid #3983e5;
    border-top: 0 none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.mod .label-en {
    position: absolute;
    top: -12px;
    left: 20px;
    display: inline-block;
    background-color: orange;
    color: #fff;
    font-weight: normal;
    padding: 0 2px;
    font-size: 8px;
    line-height: 16px;

}

.mod .triangle {
    position: absolute;
    z-index: 1;
    top: 17px;
    right: 0;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    border-color:orange transparent transparent orange;
}
.mod-bd .entran{
    position: relative;
    float: left;
    display: inline;
    width: 187px;
    height: 360px;
    padding: 0 20px 15px;
    overflow: hidden;
}
.entran dd{
    margin-left: -10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    zoom: 1;
}
.entran .entrance{
    position: relative;
    float: left;
    display: block;
    border-left: 1px solid #ececec;
    padding: 0 10px;
    line-height: 18px;
    height: 18px;
    margin: 7px 0;
    *margin: 8px 0;
}
.entran dt{
    padding: 4px 0 0 0;
    font: 700 14px/34px;
}
.inner li{
    float: left;
    display: inline-block;
    line-height: 20px;
    margin-right: 15px;
    padding: 0 8px;
}
.product{
    position: relative;
    
    zoom: 1;
    height: 375px;
    margin-left: 229px;
    padding: 15px 19px 0;
    border-left: 1px dotted #a3a3a3;
}

.produ{
    position: relative;
    width: 220px;
    height: 160px;
    float: left;
    margin: 0 0 10px 10px;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: inline;
    zoom: 1;
}
.inner2{
    position: relative;
    padding-right: 220px;
    margin-left: -10px;
}
.item{
    position: relative;
    width: 220px;
    height: 160px;
    float: left;
    margin: 0 0 10px 10px;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.item a{
    text-decoration: none;
    color: #666;
}
.thumbnail{
    position: relative;
    width: 220px;
    height: 110px;
    margin-bottom: 3px;
    overflow: hidden;
}
.thumbnail img{
    transition: transform 0.3s ease 0s;
    width: 220px;
}
.name{
    position: relative;
    height: 20px;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}
.product-1 {

}
.inner{
    height: 20px;
    margin-bottom: 10px;
    display: table;
    content: "";
    line-height: 0;
    display: table;
    content: "";
    line-height: 0;
    list-style: none;
}









