@model IEnumerable<NewMusic.Models.Genre>
@{
    ViewBag.Title = "Store";
}
<h2>lalal</h2>  

<h1><img src="https://1305779886.github.io/homework43/IconfontAndImg/Iconfont/%E9%9F%B3%E4%B9%90.png"/>嗨起来吧各位！</h1>
<div class="col-md-4">
    <h2>季節は次々死んでいく</h2>
    <audio controls>
        <source src="~/Content/MP3/amazarashi - 季節は次々死んでいく.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/amazarashi - 季節は次々死んでいく.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/amazarashi - 季節は次々死んでいく.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>BACK-ON - Carry on</h2>
    <audio controls>
        <source src="~/Content/MP3/BACK-ON - Carry on.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/BACK-ON - Carry on.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/BACK-ON - Carry on">
    </audio>
</div>

<div class="col-md-4">
    <h2>EDGE of LIFE - Just Fly Away</h2>
    <audio controls>
        <source src="~/Content/MP3/EDGE of LIFE - Just Fly Away.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/EDGE of LIFE - Just Fly Away.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/EDGE of LIFE - Just Fly Away.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>FELT - crescent moon</h2>
    <audio controls>
        <source src="~/Content/MP3/FELT - crescent moon.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/FELT - crescent moon.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/FELT - crescent moon.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>Blue Stahli - Vegas, Baby</h2>
    <audio controls>
        <source src="~/Content/MP3/Blue Stahli - Vegas, Baby.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/Blue Stahli - Vegas, Baby.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/Blue Stahli - Vegas, Baby.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>毛毛 - 奇迹再现.mp3</h2>
    <audio controls>
        <source src="~/Content/MP3/毛毛 - 奇迹再现.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/毛毛 - 奇迹再现.mp3.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/毛毛 - 奇迹再现.mp3.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>小林未郁 - βios</h2>
    <audio controls>
        <source src="~/Content/MP3/小林未郁 - βios.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/小林未郁 - βios.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/小林未郁 - βios.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>陈致逸 - 帝皇再临</h2>
    <audio controls>
        <source src="~/Content/MP3/陈致逸 - 帝皇再临.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/陈致逸 - 帝皇再临.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/陈致逸 - 帝皇再临.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>雨宮天 - Skyreach</h2>
    <audio controls>
        <source src="~/Content/MP3/雨宮天 - Skyreach.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/雨宮天 - Skyreach.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/雨宮天 - Skyreach.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>Zayde Wølf - King.</h2>
    <audio controls>
        <source src="~/Content/MP3/Zayde Wølf - King.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/Zayde Wølf - King..mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/Zayde Wølf - King..mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>YUI - Rolling star</h2>
    <audio controls>
        <source src="~/Content/MP3/YUI - Rolling star.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/YUI - Rolling star.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/YUI - Rolling star.mp3">
    </audio>
</div>

<div class="col-md-4">
    <h2>Philter - Adventure Time</h2>
    <audio controls>
        <source src="~/Content/MP3/Philter - Adventure Time.mp3" type="audio/mpeg">
        <source src="~/Content/MP3/Philter - Adventure Time.mp3" type="audio/ogg">
        <embed height="50" width="100" src="~/Content/MP3/Philter - Adventure Time.mp3">
    </audio>
</div>